{
    "DEFAULT_DB": "dbname",
    "databases": {
        "dbname": {
            "HOSTS": [
                "http://10.0.0.2:9200"
            ],
            "USER": "username",
            "PASS": "password",
            "VALIDATE_CERTS": false,
            "SCROLL_TIME": "1m",
            "SCROLL_SIZE": 10000,
            "TIMEOUT": 10,
            "TYPE": "Elasticsearch"
        }
    },
    "DEBUG": false
}