{
    "ELASTIC_HOSTS": [
        "http://127.0.0.1:9200"
    ],
    "ELASTIC_USER": "elastic",
    "ELASTIC_PASS": "example",
    "VALIDATE_CERTS": false,
    "SCROLL_TIME": "1m",
    "SCROLL_SIZE": 10000,
    "TIMEOUT": 10,
    "DEBUG": true,
    "IMAGES": {
        "index": "hql-index:latest"
    },
    "RESTART_POLICY": "always",
    "MNT_FLAGS": "z,ro",
    "OUTPUT_DIR": "./out"
}