{
    "DEFAULT_DB": "json",
    "databases": {
        "json": {
            "BASE_PATH": "https://hql.dev/datasets/",
            "TYPE": "JSON"
        },
        "csv": {
            "BASE_PATH": "https://hql.dev/datasets/",
            "TYPE": "CSV"
        }
    },
    "DEBUG": false
}